<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.missouri.niaaa.craving"
    android:versionCode="104"
    android:versionName="2.2" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="edu.missouri.niaaa.craving.MainActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <service android:name=".services.SensorService" />
        
        <receiver
            android:name=".SurveyBroadcast"
            android:permission="edu.missouri.niaaa.craving.SurveyBroadcast"
            android:process=":remote">
            <intent-filter>
				<action android:name="edu.missouri.niaaa.craving.ACTION_SCHEDULE_ALL" />
				<action android:name="edu.missouri.niaaa.craving.REMINDER" />
				
				<action android:name="edu.missouri.niaaa.craving.SCHEDULE_MORNING" />
				<action android:name="edu.missouri.niaaa.craving.TRIGGER_MORNING" />
				<action android:name="edu.missouri.niaaa.craving.SCHEDULE_RANDOM" />
				<action android:name="edu.missouri.niaaa.craving.TRIGGER_RANDOM" />
				<action android:name="edu.missouri.niaaa.craving.SCHEDUL_FOLLOWUP" />
				<action android:name="edu.missouri.niaaa.craving.TRIGGER_FOLLOWUP" />
				
                <action android:name="sounds_alarm" />
            </intent-filter>
        </receiver>
        
        <activity
            android:name=".MorningScheduler"            
            android:screenOrientation="portrait" >
        </activity>
        
        <activity
            android:name=".SurveyMenu"
            android:screenOrientation="portrait"
            />
        
        <activity
            android:name=".survey.XMLSurveyActivity"            
            android:screenOrientation="portrait" >
        </activity>

    </application>

</manifest>
